HELP.md
.env
.env.*
!.env.example
.gradle
.gradle-codex/
.gradle-verify/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
uploads/test-results/1785690242318____KI_M_TRA_TH_C_H_NH__KI_N_TR_C_MICROSERVICES.pdf
uploads/test-results/1785690313280____KI_M_TRA__MICRO_SERVICES_V_I_SPRING_BOOT___QU_N_L__SINH_VI_N___KH_A_H_C.pdf
uploads/test-results/1785690599858____KI_M_TRA_TH_C_H_NH__KI_N_TR_C_MICROSERVICES.pdf
uploads/test-results/1785768846399____KI_M_TRA_TH_C_H_NH__KI_N_TR_C_MICROSERVICES.pdf
uploads/test-results/1785769448544____KI_M_TRA__MICRO_SERVICES_V_I_SPRING_BOOT___QU_N_L__SINH_VI_N___KH_A_H_C.pdf
uploads/test-results/1785769810097____KI_M_TRA__MICRO_SERVICES_V_I_SPRING_BOOT___QU_N_L__SINH_VI_N___KH_A_H_C.pdf
uploads/test-results/1785771881291____KI_M_TRA_TH_C_H_NH__KI_N_TR_C_MICROSERVICES.pdf
uploads/test-results/1785783124437____KI_M_TRA_TH_C_H_NH__KI_N_TR_C_MICROSERVICES.pdf
uploads/test-results/1785837969057____KI_M_TRA_TH_C_H_NH__KI_N_TR_C_MICROSERVICES.pdf
uploads/test-results/1785839394615____KI_M_TRA_TH_C_H_NH__KI_N_TR_C_MICROSERVICES.pdf
uploads/test-results/1785839437540____KI_M_TRA__MICRO_SERVICES_V_I_SPRING_BOOT___QU_N_L__SINH_VI_N___KH_A_H_C.pdf
