SET cares.demo_reset = 'yes';

BEGIN;
SET LOCAL TIME ZONE 'Asia/Ho_Chi_Minh';

CREATE TEMP TABLE demo2_clock ON COMMIT DROP AS
SELECT CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Ho_Chi_Minh' moment;
CREATE OR REPLACE FUNCTION pg_temp.demo_now() RETURNS timestamp LANGUAGE sql STABLE AS 'SELECT moment FROM demo2_clock';
CREATE OR REPLACE FUNCTION pg_temp.demo_date() RETURNS date LANGUAGE sql STABLE AS 'SELECT moment::date FROM demo2_clock';
CREATE OR REPLACE FUNCTION pg_temp.did(key text) RETURNS uuid LANGUAGE sql IMMUTABLE AS 'SELECT md5(''CareS-demo:''||key)::uuid';
CREATE OR REPLACE FUNCTION pg_temp.event(c record, rel_offset float) RETURNS timestamp LANGUAGE plpgsql STABLE AS $$
BEGIN
    RETURN c.started + (c.completed_at - c.started) * rel_offset;
END $$;

ALTER TABLE membership_card ADD COLUMN IF NOT EXISTS benefit_starts_at timestamp;

TRUNCATE TABLE
    clinic_information, membership_card_ledger, membership_card, membership_policy, family_member,
    clinic_schedule_exception, shift_version,
    audit_log,
    chat_messages, chat_sessions, icd_10_selections,
    insurance_rule, invoice_item, notification, public_announcement, payment_transaction,
    prescription_item, staff_schedule, staff_schedule_template,
    test_result, test_request, vital_signs, medical_record, queue_ticket,
    invoice, customer_visit, appointment_services, appointment,
    department_capability, staff_capability, staff_info, medical_service,
    service_category, service_capability, medicine_catalog, icd_10_codes,
    insurance, department, specialization, shift_config, profile, account
RESTART IDENTITY CASCADE;

INSERT INTO clinic_information (clinic_information_id, created_at, updated_at, deleted, clinic_name, legal_name, tax_code, operating_license, short_description, support_email, phone, address) VALUES ('00000000-0000-0000-0000-000000000100', pg_temp.demo_now(), pg_temp.demo_now(), false, 'PhĂ²ng khĂ¡m CareS â€” mĂ´ phá»ng', 'CareS Demo', 'DEMO-NOT-LEGAL', 'DEMO', 'MĂ´ phá»ng', 'test@test.com', '0123', 'HĂ  Ná»™i');

INSERT INTO membership_policy (policy_id, created_at, updated_at, deleted, minimum_top_up, discount_percent, validity_months, active)
VALUES ('7c000001-0000-0000-0000-000000000001', (pg_temp.demo_now()-interval '60 days'), (pg_temp.demo_now()-interval '60 days'), false, 1000000, 15, 12, true);


-- Departments
-- Accounts
-- Profiles
-- StaffInfo

-- Capabilities

-- Department Capabilities
-- Medical Services (Keeping the core list)


-- Medicine & ICD 10
INSERT INTO medicine_catalog (medicine_id, medicine_code, name, active_ingredient, default_unit, default_usage, default_frequency_per_day, active, deleted) VALUES
('b0000000-0000-0000-0000-000000000001', 'MED-001', 'Paracetamol 500mg', 'Paracetamol', 'ViĂªn', 'Uá»‘ng sau Äƒn', 2, true, false);

INSERT INTO icd_10_codes (code, name, description, category, deleted) VALUES
('J00', 'ViĂªm mÅ©i há»ng cáº¥p', 'Cáº£m láº¡nh thĂ´ng thÆ°á»ng', 'Bá»‡nh há»‡ hĂ´ háº¥p', false),
('I10', 'TÄƒng huyáº¿t Ă¡p vĂ´ cÄƒn', 'TÄƒng huyáº¿t Ă¡p nguyĂªn phĂ¡t', 'Bá»‡nh há»‡ tuáº§n hoĂ n', false),
('Z00.0', 'KhĂ¡m sá»©c khá»e tá»•ng quĂ¡t', 'KhĂ¡m Ä‘á»‹nh ká»³', 'Yáº¿u tá»‘ sá»©c khá»e', false);


-- Shift Config


-- Staff Schedules (Full tuáº§n 3 ca)

WITH calendar AS (
    SELECT d::date AS work_date
    FROM generate_series((pg_temp.demo_date() - 30), pg_temp.demo_date() + 14, INTERVAL '1 day') d
)
INSERT INTO staff_schedule (
    schedule_id, created_at, updated_at, deleted, is_custom, note,
    status, work_date, shift_id, shift_version_id, actual_start_time, actual_end_time, staff_id, template_id
)
SELECT gen_random_uuid(), (pg_temp.demo_now()-interval '60 days'), (pg_temp.demo_now()-interval '60 days'), false, false, 'Full week', 'SCHEDULED', c.work_date,
       v.shift_id, v.shift_version_id, v.start_time, v.end_time, s.staff_id, NULL
FROM calendar c
CROSS JOIN shift_version v
CROSS JOIN staff_info s
WHERE s.system_role IN ('DOCTOR', 'NURSE');

-- History Visits (25 patients)
INSERT INTO appointment (appointment_id, created_at, updated_at, deleted, scheduled_at, status, is_guest, customer_id, shift_name, shift_time, shift_version_id) VALUES ('1c555a61-e713-eecb-3a22-9cda3f8f7f9a', pg_temp.demo_now(), pg_temp.demo_now(), false, pg_temp.demo_date() + time '14:00', 'PENDING', false, 'b8523868-30ae-7eab-8d18-fb3f1a5488bc', 'Ca Chiá»u', '13:00-17:00', '71000002-2222-2222-2222-222222222222');
COMMIT;



